extends layout

block content
  -
    // List compiled from https://www.dominos.com/en/about-pizza/toppings/pizza-toppings/
    topping_img_map = {
      "Pepperoni": "/images/pepperoni.jpeg",
      "Mushrooms": "/images/mushroom.jpeg",
      "Onions": "/images/onions.jpg",
      "Sausage": "/images/bratwurst.jpg",
      "Bacon": "/images/bacon.jpg",
      "Extra Cheese": "/images/cheese.png",
      "Black Olives": "/images/black_olives.jpg",
      "Green Peppers": "/images/green_peppers.jpeg",
      "Pineapple": "/images/pineapple.jpg",
      "Spinach": "/images/Spinach.jpg",
      "Spicy Mushrooms": "/images/explosive mushroom.svg"
    };
  h1 New order

  form(onsubmit="handleSubmit()")
    fieldset()
    legend Available Toppings
      .grid-container
        each image, topping in topping_img_map
          .grid-item
            //- p= topping
            input(type="checkbox" name=topping id=`${topping}_input`)
            label(for=`${topping}_input`)
              img(src=image+"" height=100 width=100)
    fieldset
    legend Delivery Information
      div
        label(for="name_input") Name for the order&nbsp;
        input(type="text" name="name" id="name_input" required)
      div
        label(for="address_input") Delivery Address&nbsp;
        input(type="text" name="address" id="address_input")
    fieldset
      input(type="submit")

  script.
    function handleSubmit() {
      event.preventDefault();
      debugger
      console.log(event)
      console.log('hello');

      fetch("/save_order", {
        method: "POST",
        body: JSON.stringify({
          name: 'name',
          address: 'address'
        }),
        headers: {
          "Content-Type": "application/json"
        }
      }).then(function(response){
        console.log(response)
          if(!response.ok){
            alert("Issue submitting order. Check console for more info.")
          }
      }

      );


    }