extends layout

block content
  -
    // List compiled from https://www.dominos.com/en/about-pizza/toppings/pizza-toppings/
    topping_img_map = {
      "Pepperoni": "/images/pepperoni.jpeg",
      "Mushrooms": "/images/mushroom.jpeg",
      "Onions": "/images/onions.jpg",
      "Sausage": "/images/onions.jpg",
      "Bacon": "/images/onions.jpg",
      "Extra Cheese": "/images/onions.jpg",
      "Black Olives": "/images/onions.jpg",
      "Green Peppers": "/images/green_peppers.jpeg",
      "Pineapple": "/images/onions.jpg",
      "Spinach": "/images/onions.jpg",
      "Spicy Mushrooms": "/images/explosive mushroom.svg"
    };
  h1 New order

  form(action='/save_order' method='POST')
    fieldset()
    legend Available Toppings
      .grid-container
        each image, topping in topping_img_map
          .grid-item
            //- p= topping
            input(type="checkbox" name=topping id=`${topping}_input`)
            label(for=`${topping}_input`)
              img(src=image+"" height=100 width=100)
    fieldset
    legend Delivery Information
      div
        label(for="name_input") Name for the order&nbsp;
        input(type="text" name="name" id="name_input")
      div
        label(for="address_input") Delivery Address&nbsp;
        input(type="text" name="address" id="address_input")
    fieldset
      input(type="submit")

