extends layout

block content
  -
    // List compiled from https://www.dominos.com/en/about-pizza/toppings/pizza-toppings/
    topping_img_map = {
      "Pepperoni": "/images/pepperoni.jpeg",
      "Mushrooms": "/images/mushroom.jpeg",
      "Onions": "/images/onions.jpg",
      "Sausage": "/images/bratwurst.jpg",
      "Bacon": "/images/bacon.jpg",
      "Extra Cheese": "/images/cheese.png",
      "Black Olives": "/images/black_olives.jpg",
      "Green Peppers": "/images/green_peppers.jpeg",
      "Pineapple": "/images/pineapple.jpg",
      "Spinach": "/images/Spinach.jpg",
      "Spicy Mushrooms": "/images/explosive mushroom.svg"
    };
  h1 New order

  .row
    form(action='/save_order' method='POST')
      .topping-list.col-sm-8.col-lg-10
        fieldset()
        legend Available Toppings
        .grid-container
          each image, topping in topping_img_map
            .grid-item.topping-wrapper
              input(type="checkbox" name=topping id=`${topping}_input`)
              label(for=`${topping}_input`)
                img(src=image)
                .topping-selection
                    = topping
      .col-sm-4.col-lg-2.form-horizontal
        fieldset
        legend Delivery Information
        div.form-group
          label(for="name_input" class='col-sm-5') Name:
          input(type="text" name="name" id="name_input" required)
        div.form-group
          label(for="address_input" class='col-sm-5') Delivery Address:
          input(type="text" name="address" id="address_input")
        fieldset
          input(type="submit" class='btn btn-success btn-lg')

