extends layout

block content
  h1 New order

  form(action='/save_order')
    fieldset
      legend Standard Toppings
      img(src='/images/onions.jpg' height=100)
      input(type="checkbox" name="onions")
      br
      img(src='/images/mushroom.jpeg' height=100)
      input(type="checkbox" name="mushrooms")
      br
      img(src='/images/green_peppers.jpeg' height=100)
      input(type="checkbox" name="green_peppers")
      br
      img(src='/images/pepperoni.jpeg' height=100)
      input(type="checkbox" name="pepperoni")
      br
      img(src='/images/explosive mushroom.svg' height=100)
      input(type="checkbox" name="explosive_mushrooms")
      br
    fieldset
      legend Other toppings:
      input(type="text" name="other")
    fieldset
      input(type="submit")