@import "themes/default/variables";

@import "lib/bootstrap/bootstrap";
@import "lib/font-awesome/font-awesome";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
  font-family: "PT Sans", "Lato", "Trebuchet MS", "Arial"
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Custom Variable and overwrites
// -------------------------
$navbar-blue: #004366;

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar.nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

.navbar-brand {
  color: #fff;
  font-size: 1.3em;

  &:hover{
    color: #fff;
  }

  img {
    display: inline;
    margin-top: -5px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }
}

.navbar.navbar-roi{
  background-color: $navbar-blue;
}

nav .nav.navbar-nav li a{
  color: #ccd9e0;
  &:hover {
    background-color: darken($navbar-blue, 5%);
  }
}
// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
}

.grid-item {
  display: inline-grid;
  //border: 1px solid red;
  input[type='checkbox']{
    display: none
  }
  label{
    border: 3px transparent solid;
  }
  input:checked ~ label{
    border: 3px blue solid;
  }
}
